
@model List<TheaterGetVM>
@{
    int num = 0;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div style="display:flex; justify-content:space-between">
                            <h4 class="card-title">Category Table</h4>
                            <a asp-action="create" class="btn btn-success">Create</a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Location
                                        </th>
                                        <th>
                                            Number of seats
                                        </th>
                                      

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (TheaterGetVM theater in Model)
                                    {
                                        num++;

                                        <tr>
                                            <td class="py-1">
                                                @num
                                            </td>
                                            <td>
                                                <p>@theater.Name</p>
                                            </td>
                                            <td>
                                                <p>@theater.Location</p>
                                            </td>

                                            <td>
                                                <p>@theater.TotalSeats</p>
                                           
                                            <td>
                                                <a asp-action="update" asp-route-id="@theater.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                                <a asp-action="delete" asp-route-id="@theater.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                                <a class="btn btn-primary"><i class="mdi mdi-book-open"></i></a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

